//主色调--暂时没定


//提交按钮
$button-color: linear-gradient(79deg, #7F9DF5 0%, #4E69EA 100%, #4D68EA 100%);

//全局背景颜色
$common-bg: #F5F5F5;

//基础颜色
$white: #fff;
$black: #000;

//文本颜色
$text-active:#637FEF;
$text:#666666;

